# Environment variables
# .env

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/

# Cache files
iptv_cache.db*
cache.db*
*.db

nodeified/node_modules

# Log files
iptv_proxy.log
http.log
nodeified/iptv_proxy.log
nodeified/http.log
nodeified/iptv_cache/
